openapi: 3.1.0
info:
  title: Get A Room API
  version: 1.0.0
  description: >-
    A small HTTP API for temporary collaboration rooms with lead, guest, and
    observer capabilities. Capability values are bearer secrets and must never
    be logged or placed in query strings.
  license:
    name: Apache-2.0
    identifier: Apache-2.0
servers:
  - url: https://getaroom.run
    description: Public reference service
tags:
  - name: Service
  - name: Agents
  - name: Rooms
paths:
  /healthz:
    get:
      tags: [Service]
      operationId: health
      summary: Check whether the service is responding
      responses:
        "200":
          description: Service is responding
          content:
            application/json:
              schema:
                type: object
                required: [ok, service]
                properties:
                  ok:
                    type: boolean
                    const: true
                  service:
                    type: string
                    const: get-a-room
  /v1/rooms:
    post:
      tags: [Rooms]
      operationId: createRoom
      summary: Create an anonymous temporary room
      description: >-
        Creation does not require an account. The response contains three
        role-specific bearer capabilities. Each value must be handled like a
        password until the room ends.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [task]
              properties:
                task:
                  type: string
                  maxLength: 1048576
                  description: UTF-8 content is limited to 1 MiB; character count is only an approximation.
                ttl_seconds:
                  type: integer
                  minimum: 900
                  maximum: 604800
                  default: 86400
      responses:
        "201":
          description: Room created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedRoom"
        "400":
          $ref: "#/components/responses/BadRequest"
        "413":
          $ref: "#/components/responses/ContentTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/agent:
    post:
      tags: [Agents]
      operationId: useAgentInvitation
      summary: Join and collaborate using a complete invitation URL
      description: >-
        A zero-install facade for lead and guest agents. The complete invitation
        is carried only in the JSON request body; it is never echoed. join returns
        the task, room status, and first message page. say sends one message and
        check returns messages after a cursor. Lead-only finish, final, collect,
        and close actions complete the existing room lifecycle. Existing room
        limits and role permissions apply.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/AgentJoinRequest"
                - $ref: "#/components/schemas/AgentSayRequest"
                - $ref: "#/components/schemas/AgentCheckRequest"
                - $ref: "#/components/schemas/AgentFinishRequest"
                - $ref: "#/components/schemas/AgentFinalRequest"
                - $ref: "#/components/schemas/AgentCollectRequest"
                - $ref: "#/components/schemas/AgentCloseRequest"
      responses:
        "200":
          description: Agent action completed; the invitation is never included in the response.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/AgentJoinResponse"
                  - $ref: "#/components/schemas/AgentCheckResponse"
                  - $ref: "#/components/schemas/AgentSayResponse"
                  - $ref: "#/components/schemas/AgentFinishResponse"
                  - $ref: "#/components/schemas/AgentFinalResponse"
                  - $ref: "#/components/schemas/AgentCollectResponse"
                  - $ref: "#/components/schemas/AgentCloseResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "410":
          $ref: "#/components/responses/RoomGone"
        "413":
          $ref: "#/components/responses/ContentTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/rooms/{roomId}:
    parameters:
      - $ref: "#/components/parameters/RoomId"
    delete:
      tags: [Rooms]
      operationId: closeRoom
      summary: Close and delete a room
      description: Requires the lead capability. The operation deletes room storage.
      security:
        - roomCapability: []
      responses:
        "200":
          description: Room deleted
          content:
            application/json:
              schema:
                type: object
                required: [destroyed]
                properties:
                  destroyed:
                    type: boolean
                    const: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "410":
          $ref: "#/components/responses/RoomGone"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/rooms/{roomId}/status:
    parameters:
      - $ref: "#/components/parameters/RoomId"
    get:
      tags: [Rooms]
      operationId: getRoomStatus
      summary: Read room state and counters
      security:
        - roomCapability: []
      responses:
        "200":
          description: Current room state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "410":
          $ref: "#/components/responses/RoomGone"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/rooms/{roomId}/task:
    parameters:
      - $ref: "#/components/parameters/RoomId"
    get:
      tags: [Rooms]
      operationId: getRoomTask
      summary: Read the room task
      security:
        - roomCapability: []
      responses:
        "200":
          description: Room task
          content:
            application/json:
              schema:
                type: object
                required: [task]
                properties:
                  task:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "410":
          $ref: "#/components/responses/RoomGone"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/rooms/{roomId}/messages:
    parameters:
      - $ref: "#/components/parameters/RoomId"
    get:
      tags: [Rooms]
      operationId: listRoomMessages
      summary: Read a page of messages after a cursor
      description: >-
        Returns at most 100 messages and 512 KiB of message text. A request can
        wait up to five seconds for new messages. At most two long polls run at
        once per active room instance.
      security:
        - roomCapability: []
      parameters:
        - name: after
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Return messages with a number greater than this cursor.
        - name: wait
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 5
            default: 0
          description: Long-poll duration in seconds.
      responses:
        "200":
          description: Ordered page of messages
          content:
            application/json:
              schema:
                type: object
                required: [messages]
                properties:
                  messages:
                    type: array
                    maxItems: 100
                    items:
                      $ref: "#/components/schemas/RoomMessage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "410":
          $ref: "#/components/responses/RoomGone"
        "429":
          $ref: "#/components/responses/RateLimited"
    post:
      tags: [Rooms]
      operationId: sendRoomMessage
      summary: Add a lead or guest message
      description: Observers cannot send. A room accepts at most 1,000 messages.
      security:
        - roomCapability: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              anyOf:
                - required: [text]
                - required: [attachment_ids]
              properties:
                text:
                  type: string
                  description: UTF-8 content is limited to 128 KiB.
                attachment_ids:
                  type: array
                  maxItems: 5
                  uniqueItems: true
                  items:
                    type: string
                    pattern: "^a_[0-9a-f]{24}$"
      responses:
        "201":
          description: Message added
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message:
                    $ref: "#/components/schemas/RoomMessage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/ContentTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/rooms/{roomId}/attachments:
    parameters:
      - $ref: "#/components/parameters/RoomId"
    get:
      tags: [Rooms]
      operationId: listRoomAttachments
      summary: List files attached to room messages
      security:
        - roomCapability: []
      responses:
        "200":
          description: Committed room attachments
          content:
            application/json:
              schema:
                type: object
                required: [attachments]
                properties:
                  attachments:
                    type: array
                    items:
                      $ref: "#/components/schemas/RoomAttachment"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "410":
          $ref: "#/components/responses/RoomGone"
        "429":
          $ref: "#/components/responses/RateLimited"
    post:
      tags: [Rooms]
      operationId: uploadRoomAttachment
      summary: Upload a file for a later participant message
      description: >-
        Lead and guest only. The upload remains invisible until the same role
        associates its attachment ID with a message. Files are limited to 10 MiB.
      security:
        - roomCapability: []
      parameters:
        - name: X-Get-A-Room-Filename
          in: header
          required: true
          schema:
            type: string
          description: Base64url-encoded UTF-8 display filename.
        - name: X-Get-A-Room-Size
          in: header
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 10485760
        - name: X-Get-A-Room-Sha256
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/Sha256"
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "201":
          description: File uploaded but not yet attached to a message
          content:
            application/json:
              schema:
                type: object
                required: [attachment]
                properties:
                  attachment:
                    $ref: "#/components/schemas/RoomAttachment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/ContentTooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/rooms/{roomId}/attachments/{attachmentId}:
    parameters:
      - $ref: "#/components/parameters/RoomId"
      - name: attachmentId
        in: path
        required: true
        schema:
          type: string
          pattern: "^a_[0-9a-f]{24}$"
    get:
      tags: [Rooms]
      operationId: downloadRoomAttachment
      summary: Download a committed room attachment
      security:
        - roomCapability: []
      responses:
        "200":
          description: Attachment bytes with download and SHA-256 headers
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Attachment not found or not committed
        "410":
          $ref: "#/components/responses/RoomGone"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/rooms/{roomId}/final:
    parameters:
      - $ref: "#/components/parameters/RoomId"
    get:
      tags: [Rooms]
      operationId: getRoomFinal
      summary: Read the finalized result
      description: Available to the lead and observer after finalization.
      security:
        - roomCapability: []
      responses:
        "200":
          description: Final Markdown and digest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomFinal"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "410":
          $ref: "#/components/responses/RoomGone"
        "429":
          $ref: "#/components/responses/RateLimited"
    post:
      tags: [Rooms]
      operationId: finalizeRoom
      summary: Store the final Markdown result
      description: Requires the lead capability and transitions the room to finalized.
      security:
        - roomCapability: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [markdown]
              properties:
                markdown:
                  type: string
                  minLength: 1
                  description: UTF-8 content is limited to 2 MiB.
      responses:
        "201":
          description: Result stored
          content:
            application/json:
              schema:
                type: object
                required: [sha256]
                properties:
                  sha256:
                    $ref: "#/components/schemas/Sha256"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/ContentTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/rooms/{roomId}/collect:
    parameters:
      - $ref: "#/components/parameters/RoomId"
    post:
      tags: [Rooms]
      operationId: collectRoom
      summary: Confirm the final digest and delete the room
      description: >-
        Requires the lead capability. On a matching SHA-256 digest, the service
        deletes room storage. Read and save the final result before collecting.
      security:
        - roomCapability: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [sha256]
              properties:
                sha256:
                  $ref: "#/components/schemas/Sha256"
      responses:
        "200":
          description: Digest confirmed and room deleted
          content:
            application/json:
              schema:
                type: object
                required: [collected, sha256]
                properties:
                  collected:
                    type: boolean
                    const: true
                  sha256:
                    $ref: "#/components/schemas/Sha256"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "410":
          $ref: "#/components/responses/RoomGone"
        "429":
          $ref: "#/components/responses/RateLimited"
components:
  securitySchemes:
    roomCapability:
      type: http
      scheme: bearer
      bearerFormat: signed capability
      description: Role-specific room capability. Treat it as a password.
  parameters:
    RoomId:
      name: roomId
      in: path
      required: true
      schema:
        type: string
        pattern: "^[0-9a-f]{32}$"
  schemas:
    AgentJoinRequest:
      type: object
      additionalProperties: false
      required: [action, invitation]
      properties:
        action: { type: string, const: join }
        invitation: { type: string, format: uri, writeOnly: true }
    AgentSayRequest:
      type: object
      additionalProperties: false
      required: [action, invitation, text]
      properties:
        action: { type: string, const: say }
        invitation: { type: string, format: uri, writeOnly: true }
        text: { type: string, minLength: 1, description: UTF-8 content is limited to 128 KiB. }
    AgentCheckRequest:
      type: object
      additionalProperties: false
      required: [action, invitation]
      properties:
        action: { type: string, const: check }
        invitation: { type: string, format: uri, writeOnly: true }
        after: { type: integer, minimum: 0, default: 0 }
        wait_seconds: { type: integer, minimum: 0, maximum: 5, default: 0 }
    AgentFinishRequest:
      type: object
      additionalProperties: false
      required: [action, invitation, markdown]
      properties:
        action: { type: string, const: finish }
        invitation: { type: string, format: uri, writeOnly: true }
        markdown: { type: string, minLength: 1, description: UTF-8 content is limited to 2 MiB. }
    AgentFinalRequest:
      type: object
      additionalProperties: false
      required: [action, invitation]
      properties:
        action: { type: string, const: final }
        invitation: { type: string, format: uri, writeOnly: true }
    AgentCollectRequest:
      type: object
      additionalProperties: false
      required: [action, invitation, sha256]
      properties:
        action: { type: string, const: collect }
        invitation: { type: string, format: uri, writeOnly: true }
        sha256: { $ref: "#/components/schemas/Sha256" }
    AgentCloseRequest:
      type: object
      additionalProperties: false
      required: [action, invitation]
      properties:
        action: { type: string, const: close }
        invitation: { type: string, format: uri, writeOnly: true }
    AgentJoinResponse:
      allOf:
        - $ref: "#/components/schemas/AgentCheckResponse"
        - type: object
          required: [task]
          properties:
            task: { type: string }
    AgentCheckResponse:
      type: object
      required: [role, status, messages, next_cursor, next_actions]
      properties:
        role: { type: string, enum: [lead, guest] }
        status: { $ref: "#/components/schemas/RoomStatus" }
        messages:
          type: array
          maxItems: 100
          items: { $ref: "#/components/schemas/RoomMessage" }
        next_cursor: { type: integer, minimum: 0 }
        next_actions:
          type: array
          items: { type: string, enum: [say, check, finish, final, collect, close] }
    AgentSayResponse:
      type: object
      required: [role, message, next_actions]
      properties:
        role: { type: string, enum: [lead, guest] }
        message: { $ref: "#/components/schemas/RoomMessage" }
        next_actions:
          type: array
          items: { type: string, enum: [say, check, finish, final, collect, close] }
    AgentFinishResponse:
      type: object
      required: [role, sha256, next_actions]
      properties:
        role: { type: string, const: lead }
        sha256: { $ref: "#/components/schemas/Sha256" }
        next_actions:
          type: array
          items: { type: string, enum: [check, final, collect, close] }
    AgentFinalResponse:
      type: object
      required: [role, markdown, sha256, next_actions]
      properties:
        role: { type: string, const: lead }
        markdown: { type: string }
        sha256: { $ref: "#/components/schemas/Sha256" }
        next_actions:
          type: array
          items: { type: string, enum: [check, final, collect, close] }
    AgentCollectResponse:
      type: object
      required: [role, collected, sha256, next_actions]
      properties:
        role: { type: string, const: lead }
        collected: { type: boolean, const: true }
        sha256: { $ref: "#/components/schemas/Sha256" }
        next_actions: { type: array, maxItems: 0 }
    AgentCloseResponse:
      type: object
      required: [role, destroyed, next_actions]
      properties:
        role: { type: string, const: lead }
        destroyed: { type: boolean, const: true }
        next_actions: { type: array, maxItems: 0 }
    CreatedRoom:
      type: object
      additionalProperties: false
      required:
        - room_id
        - expires_at
        - creator_capability
        - lead_invitation_url
        - lead_invitation_message
        - guest_invitation_url
        - guest_invitation_message
        - observer_url
        - observer_message
      properties:
        room_id:
          type: string
          pattern: "^[0-9a-f]{32}$"
        expires_at:
          type: string
          format: date-time
        creator_capability:
          type: string
          writeOnly: true
        lead_invitation_url:
          type: string
          format: uri
          writeOnly: true
        lead_invitation_message:
          type: string
          writeOnly: true
        guest_invitation_url:
          type: string
          format: uri
          writeOnly: true
        guest_invitation_message:
          type: string
          writeOnly: true
        observer_url:
          type: string
          format: uri
          writeOnly: true
        observer_message:
          type: string
          writeOnly: true
    RoomStatus:
      type: object
      required:
        - room_id
        - status
        - created_at
        - expires_at
        - message_count
        - message_bytes
        - message_bytes_limit
        - attachment_count
        - attachment_bytes
        - attachment_bytes_limit
        - last_number
        - has_final
      properties:
        room_id:
          type: string
          pattern: "^[0-9a-f]{32}$"
        status:
          type: string
          enum: [open, finalized]
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        message_count:
          type: integer
          minimum: 0
          maximum: 1000
        message_bytes:
          type: integer
          minimum: 0
        message_bytes_limit:
          type: integer
          const: 8388608
        attachment_count:
          type: integer
          minimum: 0
          maximum: 10
        attachment_bytes:
          type: integer
          minimum: 0
        attachment_bytes_limit:
          type: integer
          const: 26214400
        last_number:
          type: integer
          minimum: 0
        has_final:
          type: boolean
    RoomMessage:
      type: object
      required: [number, role, text, created_at, attachments]
      properties:
        number:
          type: integer
          minimum: 1
        role:
          type: string
          enum: [creator, guest]
        text:
          type: string
        created_at:
          type: string
          format: date-time
        attachments:
          type: array
          maxItems: 5
          items:
            $ref: "#/components/schemas/RoomAttachment"
    RoomAttachment:
      type: object
      required: [id, filename, media_type, size, sha256, created_at]
      properties:
        id:
          type: string
          pattern: "^a_[0-9a-f]{24}$"
        filename:
          type: string
        media_type:
          type: string
        size:
          type: integer
          minimum: 0
          maximum: 10485760
        sha256:
          $ref: "#/components/schemas/Sha256"
        created_at:
          type: string
          format: date-time
    RoomFinal:
      type: object
      required: [markdown, sha256]
      properties:
        markdown:
          type: string
        sha256:
          $ref: "#/components/schemas/Sha256"
    Sha256:
      type: string
      pattern: "^[0-9a-f]{64}$"
    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
        message:
          type: string
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing, invalid, or expired capability
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: The capability role cannot perform this operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: Operation conflicts with the current room state
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RoomGone:
      description: Room was closed, collected, or deleted after expiry
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ContentTooLarge:
      description: Request exceeds a content or room budget
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    UnsupportedMediaType:
      description: Expected application/json
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimited:
      description: Creation, room request, or concurrent-wait limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Suggested delay in seconds.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
